<%= form_with(model: recu) do |form| %>
  <% if recu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recu.errors.count, "error") %> prohibited this recu from being saved:</h2>

      <ul>
        <% recu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :de, style: "display: block" %>
    <%= form.number_field :de %>
  </div>

  <div>
    <%= form.label :a, style: "display: block" %>
    <%= form.text_field :a %>
  </div>

  <div>
    <%= form.label :cc, style: "display: block" %>
    <%= form.text_field :cc %>
  </div>

  <div>
    <%= form.label :cci, style: "display: block" %>
    <%= form.text_field :cci %>
  </div>

  <div>
    <%= form.label :objet, style: "display: block" %>
    <%= form.text_field :objet %>
  </div>

  <div>
    <%= form.label :corbeille, style: "display: block" %>
    <%= form.check_box :corbeille %>
  </div>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.label :pj, style: "display: block" %>
    <%= form.file_field :pj, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
