<p style="color: green"><%= notice %></p>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Expéditeur</th>
      <th scope="col">Objet</th>
    </tr>
  </thead>
  <tbody>
    <% @recus.each do |courriel| %>
      <tr class="<%= courriel.lu ? 'nonlu' : 'lu' %>" onclick="window.location='/recus/<%= courriel.id %>';">
        <td><%= courriel.date.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= courriel.expediteur %></td>
        <td><%= courriel.objet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
