<div class="mb-3 row menu-dark">
  <div class="col-sm-3">
    <%= link_to "Répondre", new_envoye_path(reponse: @envoye.id), class: "btn btn-primary" %>
    <%= link_to "Répondre à tous", new_envoye_path(reponse: @envoye.id, tous: true), class: "btn btn-info" %>
  </div>
  <div class="col-sm-9 date">
    <%= link_to "Retour", envoyes_path, class: 'btn btn-warning' %>
  </div>
</div>  

<div class="mb-2 row" id="div-a">
  <div class="col-sm-1"><strong>De:</strong></div>
  <div class="col-sm-9">
    <span class="adresse"><%= @envoye.expediteur %></span>
  </div>
  <div class="col-sm-2 date">
    <%= "le #{@envoye.date.strftime('%d/%m/%Y à %H:%M')}" %>
  </div>
</div>

<div class="mb-2 row" id="div-a">
  <div class="col-sm-1"><strong>A:</strong></div>
  <div class="col-sm-11">
    <% @envoye.destinataires.each do |destinataire| %>
      <span class="adresse"><%= destinataire %></span>
    <% end %>
  </div>
</div>

<% unless @envoye.cc.empty? %>
<div class="row align-items-start">
  <div class="col"> 
    <strong>Cc:</strong>
    <%= @envoye.cc %>
  </div>
</div>
<% end %>

<% unless @envoye.cci.empty? %>
<div class="row align-items-start">
  <div class="col"> 
    <strong>Cci:</strong>
    <%= @envoye.cci %>
  </div>
</div>
<% end %>

<div class="mb-2 row" id="div-a">
  <div class="col-sm-1"><strong>Objet:</strong></div>
  <div class="col-sm-11">
    <%= @envoye.objet %>
  </div>
</div>

<% if @envoye.pj.count>0 %>
<div class="mb-2 row" id="div-a">
  <div class="col-sm-1"><strong>Pièces jointes:</strong></div>
  <div class="col-sm-11">
    <% @envoye.pj.each do |pj| %>
      <span class="adresse"><%= link_to pj.filename, pj, target: "_blank" %></span>
    <% end %>
  </div>
</div>
<% end %>

<div class="row align-items-start">
  <div class="col"> 
    <div class="trix-content">
      <%= @envoye.contenu %>
    </div>    
  </div>
</div>
