<%= form_with(model: envoye, id: 'form-envoye') do |form| %>

  <div class="mb-3 row menu-dark">
    <div class="col-sm-3">
      <div id="test" class="btn btn-primary" onclick="send();">Envoyer</div>
      <div id="test" class="btn btn-info" onclick="send(true);">Enregistrer en brouillon</div>
    </div>
    <div class="col-sm-9 date">
      <%= link_to "Annuler", recus_path, class: 'btn btn-warning' %>
    </div>
  </div>

  <% if envoye.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(envoye.errors.count, "erreur") %> empêche ce mail d'être envoyé :</h2>

      <ul>
        <% envoye.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2 row" id="div-a">
    <%= form.label :a, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-11">
      <div id="alert-a" hidden>Vous devez ajouter au moins un destinataire</div>
      <%= form.select :a, @users, {}, class: "form-select dselect", required: true, multiple: "multiple" %>
    </div>
  </div>

  <div class="mb-2 row" hidden>
    <%= form.label :cc, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-11">
      <%= form.text_field :cc, class: "form-control" %>
    </div>
  </div>

  <div class="mb-2 row" hidden>
    <%= form.label :cci, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-11">
      <%= form.text_field :cci, class: "form-control" %>
    </div>
  </div>

  <div class="mb-2 row">
    <%= form.label :objet, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-11">
      <%= form.text_field :objet, class: "form-control", required: true %>
    </div>
  </div>

  <div class="mb-2 row">
    <%= form.label "Pièces jointes", class: "col-sm-1 col-form-label" %>
    <div class="col-sm-11">
      <%= form.file_field :pj, multiple: true, class: "form-control" %>
    </div>
  </div>
  <div class="contenu">
    <%= form.rich_text_area :contenu, class: "form-control" %>
  </div>
  <%= form.check_box :brouillon, hidden: true %>
<% end %>

<script>
  function send(brouillon=false){
    var div = document.querySelector('#div-a');
    var select = div.querySelector('button');
    var options = select.querySelectorAll('.dselect-tag');
    if (options.length > 0) {
      var form = document.querySelector('#form-envoye');
      document.querySelector('#envoye_brouillon').checked = brouillon;
      form.submit();
    } else {
      console.log("pas possible");
      var alert = document.querySelector('#alert-a');
      alert.hidden = false;
    }
  }
</script>