<p style="color: green"><%= notice %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Destinataires</th>
      <th scope="col">Objet</th>
    </tr>
  </thead>
  <tbody>
    <% @envoyes.each do |courriel| %>
      <% location = "/envoyes/#{courriel.id}" %>
      <% location += "/edit" if courriel.brouillon %>
      <tr onclick="window.location='<%= location %>';">
        <td><%= courriel.date.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= courriel.destinataires.join(', ') %></td>
        <td><%= courriel.objet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
