$primary: #8d94ff;
$secondary: #505596;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'actiontext.css';

.lu{
  font-weight: bold;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: $primary;
}

.mail-header{
  background-color: $secondary;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.mail-body{
  background-color: aliceblue;
  padding-top: 20px;
  padding-bottom: 50px;
}

.date{
  text-align: right;
}

.btn-primary{
  color: white;
}

.adresse{
  background-color: $primary;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  a {
    color: white;
  }
}

.sidebar-dark{
  background-color: $secondary;
}

.dselect-wrapper .dselect-tag{
  background-color: $secondary;
}

trix-editor{
  min-height: 15rem;
}

.menu-dark{
  background-color: $secondary;
  padding: 10px;
}

.central{
  margin: 2rem;
  background-color: rgb(220, 222, 250);
  padding-top: 0 !important;
  box-shadow: 10px 10px 5px #8d94ff;
}

.editor{
  padding-left: 1em;
  padding-right: 1em;
}

#alert-a{
  color: $danger;
}

.trix-content{
  margin-top: 15px;
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

thead{
  background-color: $secondary;
  color: white;
}

.contenu{
  margin-top: 25px;
}